---
layout: page
title: Endpoints & Model types
permalink: /endpoints/
---
<div class="home">
  <p>You can make HTTP GET, POST or PUT Requests. Requests are passed to the API by using JSON objects to the API endpoints with the appropriate parameters. The documentation for each API call will contain more detail on the parameters accepted by the call.</p>
  <p>All responses are sent JSON-encoded. The specific responses (successful ones) are described in the documentation section for each method. See <a href="http://en.wikipedia.org/wiki/Json">http://en.wikipedia.org/wiki/Json</a> for more information on JSON.</p>
  <p>All input strings should be UTF-8 encoded, our response is always UTF-8 encoded.</p>
  <p>Some of our endpoints return both the status of the transaction and signer activities. Further details about the statuses and activities can be found <a href="/status-activity/">here</a>.</p>

  <!-- Begin list of all endpoints-->
  <h3>All endpoints:</h3>
  <ul class="endpoint_list">
    {% for path in site.data.api-swagger.paths %}
      {% for m in path[1] %}
        {% assign method_name = m[0] %}
        {% assign method = m[1] %}
        {% capture current_path %}#/paths/{{ path[0] }}/{{ method_name }}{% endcapture %}
        <li><a href="#{{ current_path | uri_escape }}"><span class="{{ method_name }}_endpoint">{{ method_name | upcase }}:</span> {{ path[0] }}</a></li>
      {% endfor %}
    {% endfor %}
    </ul>
  <br>
  <!-- End list of all endpoints-->

  <!-- Begin list of models -->
  <h3>All models:</h3>
  <ul >
    {% for model in site.data.api-swagger.definitions %}
      {% capture def %}#/definitions/{{ model[0] }}{%endcapture%}
    <li><a href="#{{ def | uri_escape }}">{{def}}</a>
    {% endfor %}
  </ul>  
  <!-- End list of models -->

  {% for path in site.data.api-swagger.paths %}
    {% for m in path[1] %}
      {% assign method_name = m[0] %}
      {% assign method = m[1] %}

      {% capture method_id %}#/paths/{{ path[0] }}/{{method_name}}{% endcapture %}
      <div id="{{ method_id }}">
      <h2><span class="{{ method_name }}_endpoint">{{ method_name | upcase }}:</span> {{ path[0] }}</h2>
      <h3>Description</h3>
      <p>{{ method.description | markdownify }}</p>

      <!-- Begin Parameter section -->
      {% if method.parameters and first %}

        <h3>Parameters</h3>
        <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Required</th>
            <th>Description</th>
        </thead>
        <tbody>

        {% for p in method.parameters %}
          <tr>
            <td>{{ p.name }}</td>
            <td>{{ p.in }}</td>
            <td>{{ p.required }}</td>
            <td>{{ p.description }}
                {% if p.schema["$ref"] %}
                  <a href="#{{ p.schema["$ref"] | uri_escape }}">
                  {{ p.schema["$ref"] }}
                  </a>
                {% endif %}

          </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      {% endif %}
      <!-- End Parameter section -->

      <!-- Begin Request body section -->
      {% for p in method.parameters %}
      {% if p.schema != null and first %}
        <h3>Request Body</h3>
        <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Default</th>
            <th>Description</th>
        </thead>
        <tbody>
          {% for prop in p.schema.properties %}
          {% assign objectproperty_name = prop[0] %}
          {% assign objectproperty = prop[1] %}
          <tr>
            <td>{{ objectproperty_name }}
            <td>{{ objectproperty.type }}
            <td>{{ objectproperty.default }}
            <td>{{ objectproperty.description }}
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <!-- Begin Request body object definition section -->

      <!-- Objects -->
      <!-- Access Request body object -->
      {% for property in p.schema.properties %}
      {% assign objectproperty_name = property[0] %}
      {% assign objectproperty = property[1] %}

      {% endfor %}
      <!-- End Request body object definition section -->

      {% endif %}
      {% endfor %}
      <!-- End Request body section -->

      <!-- Begin Response section -->
      {% if method.responses and first %}
        <h3>Most common responses</h3>
        <table>
          <tbody>
          {% for r in method.responses %}
            {% assign response_name = r[0] %}
            {% assign response = r[1] %}

            <tr>
              <th>{{ response_name }}
              <td>{{ response.description }}
                {% if response.schema["$ref"] %}
                  <a href="#{{ response.schema["$ref"] | uri_escape }}">
                  {{ response.schema["$ref"] }}
                  </a>
                {% endif %}
          {% endfor %}
          </tbody>
        </table>
      {% endif %}
      <!-- End Response section -->

      <!-- Begin example section -->
      {% for endpoint in site.data.endpoint_examples %}
        {% capture endpoint_name %}{{ method_name }}{{ path[0] }}{% endcapture %}
        {% if endpoint[0] == endpoint_name %}
        <h3>Example</h3>
          {% for example in endpoint[1] %}
          <strong>Request:</strong>
            <div class="dynamic-max-height" data-maxheight="132" data-button-more="Show more" data-button-less="Show less">
              <div class="dynamic-wrap">
                <pre>{{ example.curl_request }}</pre>
              </div>
            </div>
            {% if example.response_information != null or example.json_response != null %}
              <strong>Response:</strong>
            {% endif %}
            {% if example.response_information != null %}
              <p>{{ example.response_information }}</p>
            {% endif %}
            {% if example.json_response != null %}
              <div class="dynamic-max-height" data-maxheight="132" data-button-more="Show more" data-button-less="Show less">
                <div class="dynamic-wrap">
                  {% assign json_response = example.json_response %}
                  <pre>{% include /endpoint_responses/{{json_response}} %}</pre>
                </div>
              </div>
            {% endif%}
          {% endfor %}
        {% endif %}
      {% endfor %}
      <!-- End example section -->
      </div>
    {% endfor %}
  {% endfor %}


  <h2>Models</h2>
  <p>
    These contain the type definitions as used by our API.
    We do our best to keep our API backwards compatible as long as you use documented features only.
    <em>Only use the types and properties documented. Don't use undocument properties you see in the returned JSON as they may be obsoleted properties and/or contain invalid data.</em>
    The sample data provided is purely fictional.
  </p>

  {% for def in site.data.api-swagger.definitions %}
  {% assign model_name = def[0] %}
  {% assign model_schema = def[1] %}

    {% include schema_object.html level=0 prop_name=model_name prop_schema=model_schema %}

  {% endfor %}

  {% comment %}<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> {% endcomment %}

</div>
