---
layout: page
title: Endpoints
permalink: /endpoints/
---

<div class="home">
  <p>You can make HTTP GET, POST or PUT Requests. Requests are passed to the API by using JSON objects to the API endpoints with the appropriate parameters. The documentation for each API call will contain more detail on the parameters accepted by the call.</p>
  <p>All responses are sent JSON-encoded. The specific responses (successful ones) are described in the documentation section for each method. See http://en.wikipedia.org/wiki/Json for more information on JSON.</p>
  <p>All input strings should be UTF-8 encoded, our response is always UTF-8 encoded.</p>
  <p>Some of our endpoints return both the status of the transaction and signer activities. Further details about the statuses and activities can be found <a href="/status-activity/">here</a>.</p>
  {% for path in site.data.api-swagger.paths %}
    {% for m in path[1] %}
      {% assign method_name = m[0] %}
      {% assign method = m[1] %}

      {% capture method_id %}{{method_name}}{{ path[0] }}{% endcapture %}
      <h2><span class="{{ method_name }}_endpoint">{{ method_name | upcase }}:</span> {{ path[0] }}</h2>
      <div id="{{ method_name }}{{ path[0] }}">
      <h3>Description</h3>
      <p>{{ method.description }}</p>

      <!-- Begin Parameter section -->
      {% if method.parameters | first %}

        <h3>Parameters</h3>
        <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Required</th>
            <th>Description</th>
        </thead>
        <tbody>

        {% for p in method.parameters %}
          <tr>
            <td>{{ p.name }}</td>
            <td>{{ p.in }}</td>
            <td>{{ p.required }}</td>
            <td>{{ p.description }}
          </td>
          </tr>
        {% endfor %}
        </tbody>
      </table></br>
      {% endif %}
      <!-- End Parameter section -->

      <!-- Begin Request body section -->
      {% for p in method.parameters %}
      {% if p.schema != null | first %}
        <h3>Request Body</h3>
        <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>type</th>
            <th>Description</th>
        </thead>
        <tbody>
          {% for prop in p.schema.properties %}
          {% assign objectproperty_name = prop[0] %}
          {% assign objectproperty = prop[1] %}
          <tr>
            <td>{{ objectproperty_name }}</td>
            <td>{{ objectproperty.type }}</td>
            <td>{{ objectproperty.description }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table></br>

      <!-- Begin Request body object definition section -->

      <!-- Objects -->
      <!-- Access Request body object -->
      {% for property in p.schema.properties %}
      {% assign objectproperty_name = property[0] %}
      {% assign objectproperty = property[1] %}

      {% if objectproperty.properties != null %}

      <h4>{{ objectproperty_name }}</h4>
      <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>type</th>
          <th>Description</th>
      </thead>
        <tbody>

      <!-- Access inner object properties -->
      {% for objectproperty in objectproperty.properties %}
      {% assign innerobjectproperty_name = objectproperty[0] %}
      {% assign innerobjectproperty = objectproperty[1] %}

        <tr>
          <td>{{ innerobjectproperty_name }}</td>
          <td>{{ innerobjectproperty.type }} <em>{{ innerobjectproperty.required }}</em></td>
          <td>{{ innerobjectproperty.description }}</td>
        </tr>

      {% endfor %}

       </tbody>
      </table></br>
      {% endif %}

      <!-- Array Objects -->
      {% if objectproperty.items.properties != null %}

      <h4>{{ objectproperty_name }}</h4>
      <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>type</th>
          <th>Description</th>
      </thead>
        <tbody>

      <!-- Access inner object properties -->
      {% for objectproperty in objectproperty.items.properties %}
      {% assign innerobjectproperty_name = objectproperty[0] %}
      {% assign innerobjectproperty = objectproperty[1] %}

      <!-- Table -->
        <tr>
          <td>{{ innerobjectproperty_name }}</td>
          <td>{{ innerobjectproperty.type }}
            {% if innerobjectproperty.required != false %}
            {% if innerobjectproperty.required == true %}
            <em>required</em>
            {% else %}
            <em>{{ innerobjectproperty.required }}</em>
            {% endif %}
            {% endif %}
          </td>
          <td>{{ innerobjectproperty.description }}</td>
        </tr>

      {% endfor %}

       </tbody>
      </table></br>
      {% endif %}

      {% endfor %}
      <!-- End Request body object definition section -->

      {% endif %}
      {% endfor %}
      <!-- End Request body section -->

      <!-- Begin Response section -->
      {% if method.responses | first %}
        <h3>Most common responses</h3>
        <table>
          <tbody>
          {% for r in method.responses %}
            {% assign response_name = r[0] %}
            {% assign response = r[1] %}

            <tr>
              <th>{{ response_name }}</th>
              <td>{{ response.description }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      {% endif %}
      <!-- End Response section -->
    {% endfor %}
  </div>
  {% endfor %}

  {% comment %}<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> {% endcomment %}

</div>
