---
layout: page
title: Statuses & Activities
permalink: /status-activity/
---
  <p>Some of our endpoints return both the status of the transaction and signer activities. A list of all the statuses as well as a list of all the activities can be found below.</p>
  <h2 id="statuses">Transaction Statuses</h2>
  <table>
    <tbody>
        {% for status in site.data.status-activity.status %}
      <tr>
        <th>{{ status.Number }}</th>
        <td>{{ status.Message }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
<p> Status 20 will be returned whenever there is processing involved on our end.</p>
  <h2 id="activities">Signer Activities</H2>
<p>
	When a signer performs a certain activity such as viewing a document or completing the sign flow we notify these updates through signer activities.
	These activities do <em>not</em> represent the status of a transaction but only the <em>steps</em> that were taken for / by a signer.
	For the transaction status you must use the <a href="#statuses">transaction status</a>.
</p>
  <table>
    <tbody>
        {% for activity in site.data.status-activity.activity %}
      <tr>
        <th>{{ activity.Number }}</th>
        <td>{{ activity.Message }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  {% comment %}<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> {% endcomment %}
