{% if definition.discriminator %}

	<table>
		<caption>{{ definition_name }} object</caption>

		<thead>
			<tr>
				<th>Name</th>
				<th>Type</th>
				<th>Default</th>
				<th>Description</th>
			</tr>
		</thead>
		<tbody>
			{% for p in definition.properties %}
				{% assign prop_name = p[0] %}
				{% assign prop = p[1] %}

				<tr>
					<td>{{ prop_name }}</td>
					<td>{{ prop.type }}</td>
					<td></td>
					<td>
					{% if prop.enum %}
						One of the following values:
						<ul>
						{% for v in prop.enum %}
							<li>{{ v }}</li>
						{% endfor %}
						</ul>
					{% endif %}
					</td>
				</tr>

			{% endfor %}
		</tbody>
	</table>
{% else if definition %}
	
{% endif %}