{% if include.level == 0 %}
	<div id="#/definitions/{{include.prop_name}}">
	<h3>{{ include.prop_name }}</h3>
	<table>
		<thead>
			<tr>
				<th colspan=9>Name
				<th>Type
				<th>Default
				<th>Description

	<tbody>
{% endif %}

	{% assign properties = include.prop_schema.properties %}
	{% if include.prop_schema.allOf %}
		{% assign properties = "" | split: "|" %}
		Inherits properties from
	
		{%for object in include.prop_schema.allOf %}
			{%if object['$ref']%}
				<a href="#{{ object["$ref"] | uri_escapce }}">{{object['$ref']}}</a>
			{%endif%}
		{%endfor%}

		{% assign object = include.prop_schema.allOf | where: "type","object"  %}
		{% assign object = object[0]  %}
		{% for prop in object.properties %}
			{% assign properties = properties | push: prop  %}
		{%endfor%}
	{% endif %}

	{% if include.prop_schema.additionalProperties and include.prop_schema.description %} 
	<tr>
		{% for d in (1..include.level) > 0 %}
			<td class="indent ident{{include.level}}"></td>
		{% endfor %}
		<td colspan={{ 9 | minus: include.level }}>&lt;,&gt;
		<td>{{ include.prop_schema.type }} map of type
		<td>
		<td>{{ include.prop_schema.description }}
	</tr>
	{% endif %}

	{% for prop in properties %}

		{% assign prop_name = prop[0] %}
		{% assign prop_schema = prop[1] %}



	<tr>
		{% for d in (1..include.level) > 0 %}
			<td class="indent ident{{include.level}}"></td>
		{% endfor %}
		<th colspan={{ 9 | minus: include.level }}>{{ prop_name }}
			{% if prop_schema.readOnly %}
				<em>readonly</em>
			{% endif %}

			{% for entry in include.prop_schema.required %}
				{% if entry == prop_name %}
					<em>required</em>{{prop_required}}
				{% endif %}
			{% endfor %}

		<td>{{ prop_schema.type}} {{ prop_schema.format }}
			{% if prop_schema.enum %}
			(enum)
			<ul>
			{% for v in prop_schema.enum %}
				<li>{{ v }}
			{% endfor %}
			{% endif %}
			{% if prop_schema.additionalProperties %}
			map of type 
			<a href="#{{ prop_schema.additionalProperties["$ref"] | uri_escapce }}">{{ prop_schema.additionalProperties["$ref"] }}</a>
			{% elsif prop_schema.items %}
			of type
			<a href="#{{ prop_schema.items["$ref"] | uri_escapce }}">{{ prop_schema.items["$ref"] }}</a>
			{% endif %}
		<td>{{ prop_schema.default }}
		<td>{{ prop_schema.description | markdownify }}

	{% if prop_schema.items %}
		{% assign child_level = include.level | plus: 1 %}
		{% include schema_object.html level=child_level prop_schema=prop_schema.items %}
	{% endif %}

	{% if prop_schema.properties %}
		{% assign child_level = include.level | plus: 1 %}
		{% include schema_object.html level=child_level prop_schema=prop_schema %}
	{% endif %}

	<!-- Additional properties on property leve -->
	{% if prop_schema.additionalProperties %}
		{% assign child_level = include.level | plus: 1 %}
		{% include schema_object.html level=child_level prop_schema=prop_schema.additionalProperties %}
	{% endif %}

	{% endfor %}

	<!-- Additional properties on object level -->
	{% if include.prop_schema.additionalProperties %}
		{% assign child_level = include.level | plus: 1 %}
		{% include schema_object.html level=child_level prop_schema=include.prop_schema.additionalProperties %}
	{% endif %}


{% if include.level == 0 %}
	</table>

	<div class="example">
	{{ include.prop_schema.example | markdownify }}
	</div>
	
	</div>
{% endif %}